In [ ]:
!pipenv install pandas

Installing pandas…
Collecting pandas
  Using cached https://files.pythonhosted.org/packages/78/78/50ef81a903eccc4e90e278a143c9a0530f05199f6221d2e1b21025852982/pandas-0.23.4-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
Collecting numpy>=1.9.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/74/68/2b00ba3c7390354db2a1706291750b6b7e911f6f79c0bd2184ae04f3c6fd/numpy-1.15.4-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/61/28/1d3920e4d1d50b19bc5d24398a7cd85cc7b9a75a490570d5a30c57622d34/pytz-2018.9-py2.py3-none-any.whl (510kB)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /Users/abehsu/.local/share/virtualenvs/Python_for_Data_Science_Introduction_to_Pa-hvRxqm6C/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/abehsu/.local/share/virtualenvs/Python_for_Data_Science_Introduction_to_Pa-hvRxqm6C/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.15.4 pandas-0.23.4 pytz-2018.9

Adding pandas to Pipfile's [packages]…
Pipfile.lock (7619e0) out of date, updating to (4a9502)…
Locking [dev-packages] dependencies…
Locking [packages] dependencies…

In [3]:
import pandas as pd
import sys

In [4]:
print('Python Version : ' + sys.version)

Python Version : 3.6.4 (v3.6.4:d48ecebad5, Dec 18 2017, 21:07:28)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

In [5]:
print('Pandas Version :' + pd.__version__)

Pandas Version :0.23.4

In [8]:
data = [
    'Sunday',
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday',
]

In [9]:
week = pd.Series(data)
week

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
dtype: object

In [10]:
import numpy as np

In [12]:
square_numbers = np.array([0,1,4,9,16,25,36,49,64,81,100,121,144,169])
square_numbers

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144,
       169])

In [13]:
square_series = pd.Series(square_numbers)
square_series

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
dtype: int64

In [14]:
# Define Series index

In [15]:
employee_fields = ['F_Name','L_Name','Emp_Id','Dept']

In [16]:
employee_data = ['Susie','Schneider',2258788,'Accounting']

In [17]:
employee_series = pd.Series(index = employee_fields,
                            data = employee_data)
employee_series

F_Name         Susie
L_Name     Schneider
Emp_Id       2258788
Dept      Accounting
dtype: object

In [18]:
country_captitals_dict = {
    'Afghanistan':'Kabul',
    'Australia':'Canberra',
    'Bangladesh':'Dhaka',
    'China':'Beijing',
    'France':'Paris',
    'India':'New Delhi',
    'Italy':'Rome',
    'USA':'Washington D.C.'
}

In [20]:
country_capitals_series = pd.Series(country_captitals_dict)
country_capitals_series

Afghanistan              Kabul
Australia             Canberra
Bangladesh               Dhaka
China                  Beijing
France                   Paris
India                New Delhi
Italy                     Rome
USA            Washington D.C.
dtype: object

In [22]:
country_capitals_series.values

array(['Kabul', 'Canberra', 'Dhaka', 'Beijing', 'Paris', 'New Delhi',
       'Rome', 'Washington D.C.'], dtype=object)

In [23]:
type(country_capitals_series.values)

numpy.ndarray

In [24]:
country_capitals_series.index

Index(['Afghanistan', 'Australia', 'Bangladesh', 'China', 'France', 'India',
       'Italy', 'USA'],
      dtype='object')

In [25]:
country_capitals_series[0]

'Kabul'

In [26]:
country_capitals_series[1:5]

Australia     Canberra
Bangladesh       Dhaka
China          Beijing
France           Paris
dtype: object

In [27]:
country_capitals_series['China']

'Beijing'

In [29]:
country_capitals_series[['Afghanistan','France','India','USA']]

Afghanistan              Kabul
France                   Paris
India                New Delhi
USA            Washington D.C.
dtype: object

In [31]:
# Dataframe Components -> Data,Indrx,columns
# Columns can ve of different data taye
# Can perform arithmetic operations(算術運算) on rows and columns

In [34]:
'''Dataframe can contain data of these
Lists
Dictionaries
Series
Numpy arrays
Another dataframe
'''

'Dataframe can contain data of these\nLists\nDictionaries\nSeries\nNumpy arrays\nAnother dataframe\n'